<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(~{::body})}">
<body>
<div th:fragment="content" class="flex-1 overflow-auto p-6">

    <div class="container mx-auto p-8">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Edit Review for Order #<span th:text="${order.getId()}"></span></h2>

            <!-- Hiển thị thông báo nếu có -->
            <div th:if="${message}" class="text-green-500 mb-4">
                <p th:text="${message}"></p>
            </div>
            <form th:action="@{/orders/reviews/{id}(id=${order.id})}" method="post">

                <div class="mb-4">
                    <label for="rating" class="block text-gray-700">Rating (1-5)</label>
                    <input type="number" id="rating" name="rating" min="1" max="5" required
                           th:value="${order.getRating()}" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>

                <div class="mb-4">
                    <label for="comment" class="block text-gray-700">Comment</label>
                    <textarea id="comment" name="comment" rows="4" required
                              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                              th:text="${order.getComment()}"></textarea>
                </div>

                <div class="mb-4">
                    <button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                        Update Review
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>
