<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(~{::body})}">
<body>
<!--th:replace="~{layout/base :: base(~{::body})}">-->
<div  th:fragment="content" class="flex-1 overflow-auto p-6">
    <div class="bg-white rounded-lg shadow">
        <div class="p-6">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-xl font-semibold">Inventories</h2>
                <div class="flex space-x-3">
                    <button onclick="openModal(null)" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors">
                        Add Inventory
                    </button>
                </div>
            </div>
            <!-- Table -->

            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Item Name
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            unit
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            quantity
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            UnitPrice
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Supplier Name
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            description
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody th:each="inventory : ${inventories}" class="bg-white divide-y divide-gray-200">
                    <tr class="hover:bg-gray-50">
                        <td th:text="${inventory.inventoryId}" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>

                        <td th:text="${inventory.itemName}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>
                        <td th:text="${inventory.unit}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>
                        <td th:text="${inventory.quantity}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>

                        <td th:text="${inventory.unitPrice}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>
                        <td th:text="${inventory.getSupplier().getName()}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>

                        <td th:text="${inventory.description}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"></td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                            <div class="flex space-x-3">
                                <!-- Button to open modal with employee data -->
                                <button type="button"
                                        th:data-id="${inventory.inventoryId}"
                                        th:data-itemName="${inventory.itemName}"
                                        th:data-unit="${inventory.unit}"
                                        th:data-quantity="${inventory.quantity}"
                                        th:data-unitPrice="${inventory.unitPrice}"
                                        th:data-supplier="${inventory.getSupplier().getSupplierId()}"
                                        th:data-description="${inventory.description}"
                                        onclick="openModal(this)"
                                        class="text-indigo-600 hover:text-indigo-900">
                                    <i class="fas fa-edit"></i>
                                </button>


                                <form th:action="@{/inventories/delete/{id}(id=${inventory.inventoryId})}" method="GET" class="inline" onsubmit="return confirm('Are you sure you want to delete this customer?');">
                                    <button type="submit" class="text-red-600 hover:text-red-900">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="flex items-center justify-between mt-4">
                    <!-- Previous Button -->
                    <a th:href="@{|/inventories?page=${currentPage - 1}&size=5|}"
                       th:if="${currentPage > 0}"
                       class="px-4 py-2 text-sm font-medium text-gray-600 bg-gray-200 rounded hover:bg-gray-300">
                        Previous
                    </a>

                    <!-- Page Numbers -->
                    <div class="flex space-x-2">
                        <a th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                           th:href="@{|/inventories?page=${pageNum}&size=5|}"
                           th:text="${pageNum + 1}"
                           th:classappend="${pageNum == currentPage} ? 'bg-blue-500 text-white' : ''"
                           class="px-4 py-2 text-sm font-medium rounded bg-gray-200 text-gray-600 hover:bg-blue-600 hover:text-white">
                        </a>
                    </div>

                    <!-- Next Button -->
                    <a th:href="@{|/inventories?page=${currentPage + 1}&size=5|}"
                       th:if="${currentPage < totalPages - 1}"
                       class="px-4 py-2 text-sm font-medium text-gray-600 bg-gray-200 rounded hover:bg-gray-300">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="inventoryModal" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden items-center justify-center">
        <div th:replace="~{fragments/modals/inventory-input-modal}"></div>
    </div>
</div>

<th:block th:fragment="page-scripts">
    <script th:src="@{/js/Modal.js}"></script>
    <script>

        function openModal(button) {
            const inventoryModal = new ModalWithForm('inventoryModal', "Inventory", '/inventories/add', '/inventories/edit');
            let data;
            if (button != null) {
                data = {
                    id: button.getAttribute('data-id') || "",
                    itemName: button.getAttribute('data-itemName') || "",
                    unit: button.getAttribute('data-unit') || "",
                    quantity: button.getAttribute('data-quantity') || "",
                    unitPrice: button.getAttribute('data-unitPrice') || "",
                    supplier: button.getAttribute('data-supplier') || "",
                    description: button.getAttribute('data-description') || "",
                };
                console.log("Button clicked for action:", data);
            }

            inventoryModal.open(data);
        }

        function closeModal() {
            const inventoryModal = new ModalWithForm('inventoryModal', '/inventories/add', '/inventories/edit');
            inventoryModal.close();
        }

    </script>
</th:block>
</body>
</html>
