<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(~{::body})}">
<body>
<div th:fragment="content" class="flex-1 overflow-auto p-6">

    <div class="max-w-3xl mx-auto">
        <div>
            <h2 class="text-2xl font-semibold mb-4">Current Orders</h2>
            <div class="space-y-4">
                <!-- Hiển thị thông báo nếu có -->
                <div th:if="${message}" class="text-red-500 mb-4">
                    <p th:text="${message}"></p>
                </div>
                <div class="mb-4">
                    <form th:action="@{/order-item}" method="get" class="flex items-center space-x-4">
                        <input type="text" name="keyword" placeholder="Search by dish or order ID"
                               class="border border-gray-300 rounded-lg px-4 py-2 text-gray-800"
                               style="font-size: 12px;"
                               th:value="${keyword}"/>

                        <select name="statusFilter" class="bg-white border border-gray-300 text-sm rounded-lg px-4 py-2 text-gray-800">
                            <option value="">All Statuses</option>
                            <option value="PENDING" th:selected="${statusFilter == 'PENDING'}">PENDING</option>
                            <option value="COMPLETED" th:selected="${statusFilter == 'COMPLETED'}">COMPLETED</option>
                            <option value="CANCELED" th:selected="${statusFilter == 'CANCELED'}">CANCELED</option>
                        </select>

                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">
                            Filter
                        </button>
                    </form>
                </div>

                <!-- Lặp qua danh sách orderItems -->
                <div th:each="item : ${orderItems}" class="bg-white rounded-lg shadow-lg p-4 flex items-center justify-between">
                    <div class="flex items-center space-x-4">
                        <img th:src="${item.getDish().image}" alt="Order image" class="w-16 h-16 rounded-lg object-cover">
                        <div>
                            <p class="font-semibold">Order # <span th:text="${item.order.id}"></span></p>
                            <p class="text-gray-600 text-sm">Dish: <span th:text="${item.dish.getName()}"></span></p>
                            <p class="text-gray-600 text-sm">Price <span th:text="${item.price}"></span></p>
                            <p class="text-gray-400 text-sm">Quantity: <span th:text="${item.quantity}"></span></p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        <!-- Form để thay đổi trạng thái -->
                        <form th:action="@{/order-item/updateOrderStatus}" method="post">
                            <input type="hidden" name="orderItemId" th:value="${item.id}"/>
                            <input type="hidden" name=dishId th:value="${item.getDish().getDishId()}"/>
                            <input type="hidden" name="quantity" th:value="${item.quantity}"/>
                            <select name="orderStatus" class="bg-white border border-gray-300 text-sm rounded-lg px-4 py-2 text-gray-800"
                                    onchange="this.form.submit()"
                                    th:disabled="${item.orderStatus == T(com.restaurant.management.enums.OrderStatus).COMPLETED}">
                                <option value="PENDING" class="bg-yellow-100 text-yellow-700"
                                        th:selected="${item.orderStatus == T(com.restaurant.management.enums.OrderStatus).PENDING}">
                                    PENDING
                                </option>
                                <option value="COMPLETED" class="bg-green-100 text-green-700"
                                        th:selected="${item.orderStatus == T(com.restaurant.management.enums.OrderStatus).COMPLETED}">
                                    COMPLETED
                                </option>
                                <option value="CANCELED" class="bg-red-100 text-red-700"
                                        th:selected="${item.orderStatus == T(com.restaurant.management.enums.OrderStatus).CANCELED}">
                                    CANCELED
                                </option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        setInterval(function() {
            location.reload();
        }, 5000);
</script>
</body>
</html>
