<div th:fragment="customer-modal" class="max-w-md mx-auto mt-8 p-6 bg-white rounded-lg shadow-md  overflow-y-auto">
    <h2 id="modalTitle"
        class="text-xl font-semibold mb-6">Employee</h2>
    <form id="modalForm" method="post" action="employees/add" enctype="multipart/form-data">
        <!-- Form Fields -->
        <div class="space-y-4">
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Name</label>
                <input
                        name="name"
                        type="text"
                        placeholder="Enter name"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">phone</label>
                <input
                        name="phone"
                        type="text"
                        placeholder="Enter phone"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1"> Email</label>
                <input
                        name="email"
                        type="email"
                        placeholder="Enter email"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">address</label>
                <input
                        name="address"
                        type="text"
                        placeholder="Enter address"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" />

            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">notes</label>
                <input
                        name="notes"
                        type="text"
                        placeholder="Enter notes"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" />
            </div>


        </div>

        <!-- Buttons -->
        <div class="flex justify-end space-x-3 mt-6">
            <button onclick="closeModal()" type="button" class="px-4 py-2 text-gray-600 hover:text-gray-800">Discard</button>
            <button
                    type="submit"
                    id="actionButton"
                    class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                Add Supplier
            </button>
        </div>
    </form>
</div>
</body>
</html>
